input {
  keyboard {
    xkb {layout "us,es,ua,ru";}
    track-layout "global"
  }
  mouse {}
  touchpad {
    tap
    natural-scroll
  }
  workspace-auto-back-and-forth
}

output "eDP-1" {
  off
  mode "1920x1080@60.033"
  scale 1.5
  transform "normal"
  position x=0 y=0
  hot-corners {off;}
}

output "HDMI-A-1" {
  // off
  mode "3840x2160@30.000"
  scale 2.0
  transform "normal"
  position x=1280 y=0
  focus-at-startup
  hot-corners {off;}
}

// Application title bar omit
prefer-no-csd

layout {
  // Gaps and borders
  gaps 2
  focus-ring {off;}
  border {off;}
  // Window width and height resize
  default-column-width {
    proportion 1.0;
  }
  preset-column-widths {
    proportion 0.5
    proportion 1.0
  }
  preset-window-heights {
    proportion 0.5
    proportion 1.0
  }
}

cursor {
  xcursor-theme "Bibata-Modern-Ice"
  xcursor-size 32
  // gsettings set org.gnome.desktop.interface cursor-theme 'Bibata-Modern-Ice'
  // gsettings set org.gnome.desktop.interface cursor-size 32
  hide-when-typing
  hide-after-inactive-ms 5000
}

animations {off;}
xwayland-satellite {off;}
hotkey-overlay {skip-at-startup;}
screenshot-path "~/Pictures/Screenshots/screenshot_%Y-%m-%dT%H-%M-%S.png"

// All windows maximize
window-rule {
  open-maximized-to-edges true
}

binds {
  // Workspace focus down, up
  Mod+D {focus-workspace-down;}
  Mod+U {focus-workspace-up;}
  // Window move to workspace down, up
  Mod+Shift+D {move-column-to-workspace-down;}
  Mod+Shift+U {move-column-to-workspace-up;}

  // Column, window focus
  Mod+H {focus-column-left-or-last;}
  Mod+J {focus-window-down-or-top;}
  Mod+K {focus-window-up-or-bottom;}
  Mod+L {focus-column-right-or-first;}
  // Column, window move
  Mod+Shift+H {move-column-left;}
  Mod+Shift+J {move-window-down;}
  Mod+Shift+K {move-window-up;}
  Mod+Shift+L {move-column-right;}

  // Window width, height resize
  Mod+Y {switch-preset-column-width;}
  Mod+Shift+Y {switch-preset-window-height;}
  // Column width shrink, expand
  Mod+Comma {set-column-width "-10%";}
  Mod+Period {set-column-width "+10%";}
  // Window height shrink, expand
  Mod+Shift+Comma {set-window-height "-10%";}
  Mod+Shift+Period {set-window-height "+10%";}

  // Focused window consume, expel to the left, right
  Mod+BracketLeft {consume-or-expel-window-left;}
  Mod+BracketRight {consume-or-expel-window-right;}
  // Right window consume to the bottom of the focused column
  Mod+Shift+BracketLeft {consume-window-into-column;}
  // Bottom window expel to the right of the focused column
  Mod+Shift+BracketRight {expel-window-from-column;}

  // Floating window
  Mod+F {toggle-window-floating;}
  // Full screen window
  Mod+Shift+F {fullscreen-window;}

  // Screenshot UI (Space to move, Ctrl+c clipboard only, Enter save to disk)
  Mod+P {screenshot show-pointer=false;}
  // Screenshot window (clipboard only)
  Mod+Shift+P {screenshot-window write-to-disk=false;}
  // Screenshot window (write to disk)
  Mod+Ctrl+P {screenshot-window write-to-disk=true;}

  // Volume increase, decrease
  Mod+Up allow-when-locked=true {
    spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+" "--limit" "1.5"
  }
  Mod+Down allow-when-locked=true {
    spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"
  }
  // Speakers, mic mute, unpute
  Mod+M allow-when-locked=true {
    spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
  }
  Mod+Shift+M allow-when-locked=true {
    spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
  }

  // Applications
  Mod+Return {spawn "ghostty";}
  Mod+Space {spawn "emacs";}
  Mod+Apostrophe {spawn "firefox";}
  Mod+Ctrl+Q repeat=false {close-window;}

  // Lock, log out
  Mod+Escape {spawn "noctalia" "msg" "session" "lock";}
  Mod+Ctrl+Escape {quit;}
  // Suspend, reboot, power off
  Mod+BackSpace repeat=false {spawn "systemctl" "suspend";}
  Mod+Shift+BackSpace repeat=false {spawn "systemctl" "reboot";}
  Mod+Ctrl+BackSpace repeat=false {spawn "systemctl" "poweroff";}

  // Input and output
  Mod+I {spawn "wlr-which-key";}

  // Application launch
  Mod+X {spawn "fuzzel";}
  // Document open
  Mod+O {
    spawn-sh "fd --no-ignore --type file -e html -e pdf -e djvu . ~/Downloads ~/Projects/bayanguru ~/Arberis | fuzzel --dmenu --only-match | xargs --no-run-if-empty --delimiter '\\n' xdg-open"
  }
}

spawn-at-startup "noctalia"
